<nav is="flynt-navigation-main" class="flyntComponent" aria-label="{{ __("Main", "flynt") }}">
  <div class="wrapper">
    <div class="container">
      <div class="logo">
        Tommaso Speretta
        {# <img class="logo-image" src="{{ logo.src }}" alt="{{ logo.alt }}"> #}
      </div>
      <div class="about">
        <p>Tommaso Speretta is an art books editor, writer and independent curator, 
        who has worked for many international art institutions such as the Venice Biennale 
        and the Office for Contemporary Art Norway. He is based between Venice and London, 
        where he is currently pursuing a TECHNE funded Doctorate in Art & Design: History & 
        Theory at Central Saint Martins College. REBELS REBEL. AIDS, Art and Activism in New York, 
        1979–1989 is his first book published in 2014 by MER. Paper Kunsthalle, Ghent.</p>
        <p>ts@tommasosperetta.com</p>
      </div>
      {% if menu %}
        <ul class="menu">
          {% for item in menu.items %}
            <li class="menu-item {{ item.current ? 'menu-item--current' }}">
              <a class="menu-link" href="{{ item.link }}" {{ item.target == '_blank' ? 'target="_blank" rel="noopener noreferrer"' }}>{{ item.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</nav>
